<div class="container">
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Welcome back, {{ name.value }}</legend>
                <div class="form-group">
                    <label for="Username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="Username" placeholder="Fill your name" #name (keyup)="0">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" #check (click)="0"> Remember
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" [ngStyle]="{disable:true}">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>